<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="Content-Type" />
	<meta http-equiv="expires" content="0">
	<title>UBA SDK测试平台</title>
	<meta name="author" content="美信网络技术有限公司">
	<meta name="description" content="国美">
	<link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top in" role="navigation" style="margin-bottom: 0" aria-expanded="true">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand active" href="/">UBA SDK测试平台</a>
		</div>
	</nav>
	<div class="container">
		<section class="url-access">
			<div class="panel panel-default left-column">
				<div class="panel-heading">
					<strong>网址列表</strong>
				</div>
				<div class="panel-body">
					<div class="sidebar-box">
						<ul id="urllist">
							<% getTestUrls().forEach(item => { %>
								<li title="<%= item.text %>"><img src="/static/img/copy.svg">
									<a href="javascript:void(0);">
										<%= item.text %>
									</a>
								</li>
								<% }) %>
						</ul>
					</div>
				</div>
			</div>
			<div class="right-column">
				<div class="form-group url-input">
					<label class="control-label">自定义网址</label>
					<input type="text" class="form-control" placeholder="请输入自定义网址" id="customurl">
				</div>
				<button id="gotoBtn" data-host="<%= host %>" class="btn btn-primary gotoBtn" type="button" data-trigger="focus">转到</button>

				<button id="addBtn" class="btn addBtn" type="button" data-trigger="focus">加入</button>
				<div class="logbox">
					<ul>
					</ul>
					<a class="clear">clear</a>
				</div>
			</div>
		</section>
	</div>
	<div id="dataModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close">
                        &times;
                    </button>
					<span class="modal-title">
                    </span>
					<form class="form-filename">
						<input type="text" maxlength="20" class="form-control">
						<span style="font-size: 12px;"></span>
						<a href="javascript:void(0);" class="btn btn-default">修改</a>
					</form>
				</div>
				<div class="modal-body">
					<div class="input_area">
						<textarea id="jsonData" class="form-control">
                        </textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button id="apply" type="button" class="btn default" data-dismiss="modal">确定</button>
					<button id="cancel" type="button" class="btn default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>


</body>

<script src="/static/js/polyfill.min.js"></script>
<script src="/static/js/socket.io.min.js"></script>
<script src="/static/js/index.js?v=<%= rev %>"></script>

</html>
